n8n/workflow_template.json
{
  "name": "Contract Analysis",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "analyze",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-node-001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "contract-analyze"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:11434/api/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\"model\": \"minimax-m2:cloud\", \"prompt\": \"分析以下合約文字（前500字），判斷合約類型並決定需要哪些台灣法律審查。只回傳JSON，不要其他文字。\\n\\n可用法律：\\n- taiwan_consumer_protection_law：消費者保護法（網購、訂閱、消費性合約）\\n- taiwan_civil_law：民法（租賃、買賣、借貸）\\n- taiwan_labor_law：勞動基準法（勞動契約、雇傭）\\n- taiwan_privacy_law：個人資料保護法（含個資蒐集條款）\\n- taiwan_company_law：公司法（公司章程、股東協議、B2B）\\n\\nJSON格式：{\\\"contractType\\\": \\\"合約類型\\\", \\\"laws\\\": [\\\"law_key1\\\"]}\\n\\n合約文字：{{ $json.body.text || $json.text }}\", \"stream\": false}",
        "options": { "timeout": 60000 }
      },
      "id": "classifier-node-001",
      "name": "Contract Classifier",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Multi Law Retrieval — 合約分類 + 多知識庫查詢\n// ============================================================\nconst DATASET_MAP = {\n  \"taiwan_consumer_protection_law\": \"44e5a632-35e1-4669-b3a8-545828d75d53\",\n  \"taiwan_civil_law\":               \"0563691d-73ab-479f-aa48-70bf26a77112\",\n  \"taiwan_labor_law\":               \"d6460675-fcdc-4c56-8041-04787bcf5aca\",\n  \"taiwan_privacy_law\":             \"5176b708-a715-4e27-82bb-d0100044c88c\",\n  \"taiwan_company_law\":             \"b809f5ea-9248-4376-9f09-0677c4614de6\",\n};\nconst DIFY_API_KEY  = \"dataset-BH63uXTBsTfMX1tvPBl3H4Fd\";\nconst DIFY_BASE_URL = \"http://127.0.0.1:3001\";\n\nconst contractText = $node[\"Webhook\"].json.body?.text || $node[\"Webhook\"].json.text || \"\";\n\nconst classifierRaw = $node[\"Contract Classifier\"].json;\nlet classifierResponse = classifierRaw?.response || classifierRaw?.message?.content || \"\";\n\nlet classification = { contractType: \"一般合約\", laws: [\"taiwan_consumer_protection_law\"] };\ntry {\n  const clean = classifierResponse.replace(/```(?:json)?/g, \"\").replace(/```/g, \"\").trim();\n  const m = clean.match(/\\{[\\s\\S]*\\}/);\n  if (m) classification = JSON.parse(m[0]);\n} catch (e) {}\n\nconst laws = Array.isArray(classification.laws) && classification.laws.length > 0\n  ? classification.laws.slice(0, 3)\n  : [\"taiwan_consumer_protection_law\"];\n\nconst allChunks = [];\nfor (const law of laws) {\n  const datasetId = DATASET_MAP[law];\n  if (!datasetId) continue;\n  try {\n    const response = await $helpers.httpRequest({\n      method: \"POST\",\n      url: `${DIFY_BASE_URL}/v1/datasets/${datasetId}/retrieve`,\n      headers: {\n        \"Authorization\": `Bearer ${DIFY_API_KEY}`,\n        \"Content-Type\": \"application/json\",\n      },\n      body: JSON.stringify({ query: contractText.substring(0, 500), top_k: 2 }),\n    });\n    if (response.records) {\n      for (const record of response.records) {\n        const content = record.segment?.content || \"\";\n        if (content) allChunks.push(`【${law}】\\n${content}`);\n      }\n    }\n  } catch (e) {}\n}\n\nconst retrievedLaws = allChunks.join(\"\\n\\n---\\n\\n\") || \"（知識庫查詢無結果）\";\n\nreturn [{ json: {\n  contractType:  classification.contractType,\n  appliedLaws:   laws,\n  retrievedLaws: retrievedLaws,\n  contractText:  contractText,\n} }];"
      },
      "id": "multi-retrieval-node-001",
      "name": "Multi Law Retrieval",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:11434/api/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\"model\": \"minimax-m2:cloud\", \"prompt\": \"你是台灣合約法律專家。請分析以下合約文本，找出所有違反相關法規的條款。\\n\\n【合約類型】\\n{{ $node['Multi Law Retrieval'].json.contractType }}\\n\\n【適用法律】\\n{{ $node['Multi Law Retrieval'].json.appliedLaws.join(', ') }}\\n\\n【相關法條參考（來自知識庫）】\\n{{ $node['Multi Law Retrieval'].json.retrievedLaws }}\\n\\n請以JSON格式回傳，格式如下：\\n{\\\"violations\\\": [{\\\"id\\\": 1, \\\"clause\\\": \\\"條款名稱\\\", \\\"riskLevel\\\": \\\"高/中/低\\\", \\\"reason\\\": \\\"違法原因（引用具體法條）\\\", \\\"details\\\": \\\"詳細說明\\\"}], \\\"riskScore\\\": 1-10, \\\"totalViolations\\\": N, \\\"summary\\\": \\\"總結\\\"}\\n\\n【合約文本】\\n{{ $node['Multi Law Retrieval'].json.contractText }}\", \"stream\": false}",
        "options": { "timeout": 120000 }
      },
      "id": "ollama-analysis-node-001",
      "name": "Ollama Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [920, 300]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Result Parser — 解析 Ollama 回應\n// ============================================================\nconst webhookJson = $node[\"Webhook\"].json;\nconst inputText = webhookJson?.body?.text || webhookJson?.text || \"\";\n\nconst ollamaJson = $node[\"Ollama Analysis\"].json;\nlet responseText = ollamaJson?.response || ollamaJson?.message?.content || ollamaJson?.choices?.[0]?.message?.content || \"\";\n\nconst multiRetrieval = $node[\"Multi Law Retrieval\"].json;\nconst contractType = multiRetrieval?.contractType || \"一般合約\";\nconst appliedLaws = multiRetrieval?.appliedLaws || [];\n\nlet parsedResult = null;\nconst cleanText = responseText.replace(/```(?:json)?/g, \"\").replace(/```/g, \"\").trim();\ntry {\n  parsedResult = JSON.parse(cleanText);\n} catch (e) {\n  const m = responseText.match(/\\{[\\s\\S]*\\}/);\n  if (m) { try { parsedResult = JSON.parse(m[0]); } catch (e2) {} }\n}\n\nif (parsedResult && Array.isArray(parsedResult.violations)) {\n  const violations = parsedResult.violations.map((v, i) => ({\n    id: v.id || i + 1,\n    clause: v.clause || v.條款 || \"未知條款\",\n    riskLevel: v.riskLevel || v.風險等級 || \"中\",\n    reason: v.reason || v.原因 || \"違反相關法規\",\n    details: v.details || v.詳細 || \"\",\n  }));\n  const score = Math.min(10, Math.max(1, Math.round(parsedResult.riskScore || calcScore(violations))));\n  return [{ json: { violations, riskScore: score, totalViolations: violations.length, summary: parsedResult.summary || genSummary(violations, score), contractType, appliedLaws } }];\n}\n\n// 備援關鍵詞匹配\nconst searchText = inputText + \" \" + responseText;\nconst patterns = [\n  { kws: [\"概不退費\",\"不得退款\",\"不退款\",\"不予退還\",\"無法退費\"], clause: \"不合理退費條款\", level: \"高\", reason: \"違反消保法第19條\", details: \"消費者享有法定退費權利\" },\n  { kws: [\"自動扣費\",\"自動續約\",\"自動扣款\",\"自動繳費\"], clause: \"自動扣費／自動續約條款\", level: \"高\", reason: \"違反消保法第17條\", details: \"需事先取得消費者明確書面同意\" },\n  { kws: [\"概不負責\",\"不負任何責任\",\"免除一切責任\",\"不承擔責任\"], clause: \"全面免責條款\", level: \"高\", reason: \"違反消保法第7條\", details: \"不得以契約完全免除企業賠償責任\" },\n  { kws: [\"責任限制\",\"賠償上限\",\"最高賠償\",\"賠償不超過\"], clause: \"責任限制條款\", level: \"中\", reason: \"違反消保法第7條\", details: \"賠償上限不得低於實際損害\" },\n  { kws: [\"單方修改\",\"隨時修改\",\"有權修改\",\"得修改條款\"], clause: \"單方修改條款\", level: \"高\", reason: \"違反消保法第12條\", details: \"不得單方面修改契約\" },\n  { kws: [\"強制仲裁\",\"不得提起訴訟\",\"放棄訴訟\",\"不得訴訟\"], clause: \"強制仲裁條款\", level: \"高\", reason: \"違反消保法第10條\", details: \"消費者不得被強制放棄訴訟權利\" },\n  { kws: [\"提供第三方\",\"資料共享\",\"資料轉讓\",\"出售個人資料\"], clause: \"個人資料共享條款\", level: \"中\", reason: \"違反個資法第7條\", details: \"需有明確告知與當事人同意\" },\n];\n\nconst violations = [];\nfor (const p of patterns) {\n  if (p.kws.some(kw => searchText.includes(kw))) {\n    violations.push({ id: violations.length + 1, clause: p.clause, riskLevel: p.level, reason: p.reason, details: p.details });\n  }\n}\nconst score = calcScore(violations);\nreturn [{ json: { violations, riskScore: score, totalViolations: violations.length, summary: genSummary(violations, score), contractType, appliedLaws } }];\n\nfunction calcScore(v) {\n  if (!v.length) return 1;\n  let s = 0;\n  for (const x of v) s += x.riskLevel === \"高\" ? 3 : x.riskLevel === \"中\" ? 2 : 1;\n  return Math.min(10, Math.max(1, s));\n}\nfunction genSummary(v, s) {\n  if (!v.length) return `本合約未偵測到明顯違法條款，風險評分 ${s}/10。`;\n  return `本合約共偵測到 ${v.length} 個疑似違法條款，風險評分 ${s}/10。建議簽署前諮詢專業人士。`;\n}"
      },
      "id": "result-parser-node-001",
      "name": "Result Parser",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1160, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Contract Classifier", "type": "main", "index": 0 }]]
    },
    "Contract Classifier": {
      "main": [[{ "node": "Multi Law Retrieval", "type": "main", "index": 0 }]]
    },
    "Multi Law Retrieval": {
      "main": [[{ "node": "Ollama Analysis", "type": "main", "index": 0 }]]
    },
    "Ollama Analysis": {
      "main": [[{ "node": "Result Parser", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "contract-review-system"
  },
  "id": "contract-analysis-workflow",
  "tags": []
}
